main {
  margin-right: 15%;
  margin-left: 15%;
}

.login-form {
  max-width: 300px;
}

.ant-form.login-form{
  margin-left: auto;
  margin-right: auto;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.search-form>.ant-input {
  border: 0 solid;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#breadcrumb {
  margin-top: 1em;
  margin-bottom: 1em;
}

.icon-header>img {
  max-height: 46px;
}