main {
  margin-right: 10%;
  margin-left: 10%;
}

body{
  height: auto !important;
  min-height: 100% !important;
}

.login-form {
  max-width: 300px;
}

.ant-form.login-form{
  margin-left: auto;
  margin-right: auto;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.search-form>.ant-input {
  border: 0 solid;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#breadcrumb {
  margin-top: 1em;
  margin-bottom: 1em;
}

.icon-header>img {
  max-height: 46px;
}

.price-card {
  text-align: right;
  font-size: 1.2em;
}

.rating-lower-size>li {
  max-height: 70%;
}

.product-list-img {
  height: 30vh;
  object-fit: contain;
}

.price-total {
  text-align: right;
  font-size: 1.05em;
}

.price-total>p {
  margin-bottom: 0.3em;
}

.cart-manipulation-btn-wrapper{
  display: flex;
  justify-content: space-between;
}

.cart-save-btn{
  width: 10em;
  height: 0.8em;
  margin-left: auto;
}

.cart-empty-btn{
  /*width: 0.8em;*/
  /*height: 0.8em;*/
}

.cart-checkout-btn{
  width: 12.5em;
  height: 1em;
}

.details-wrapper{
  display: flex;
  flex-direction: row;
}

.details-main-section{
  width: 70%;
  margin-right: 2.5%;
}

.details-main-wrapper{
  display: flex;
  flex-direction: row;
}

.details-cover{
  width: 40%;
  margin-right: 7.5%;
}

.details-cover>img{
  object-fit: contain;
}

.details-title{
  font-size: 1.3em;
  font-weight: bold;
}

.details-infos{
  margin-top: 10em;
}

.details-aside{
  margin-top: 15vh;
}

.details-btn{
  width: 7em;
  padding: 0.3em;
  border: black 1px solid;
  text-align: center;
  margin-bottom: 0.6em;
  font-size: 2em;
}

.details-price{
  font-size: 3em;
}

.ant-drawer-body .ant-input{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
